
body
{
  background-image:url('../images/background_light.jpg');
  background-repeat:no-repeat;
  background-size:100%;
}

#main
{
  width:960px;
  margin:70px 0 0 60px;
  border: 1px solid red;
  }

.clear_floats
{
  clear:both;
}