body
{
  background-image:url('../images/background_light.jpg');
  background-repeat:no-repeat;
  background-size:100%;
}

#main
{
  width:960px;
  margin:70px 0 0 60px;
  border: 1px solid red;
  }

#logo{
  position: relative;
  top: 10px;
  left: 60px;
}

#lead > article{
  border: 1px solid red;
  width: 200px
  height: 700px;
  float: left;
}

#lead > image{
  height: 350px;
  float: left;
}

.clear_floats
{
  clear:both;
}

